@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

body {
    margin: 0;
    background-color: black;
    background-image: url("/sky-clouds.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /*font*/
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;

    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.time {
    color: white;
    font-size: 96px;
    font-weight: bold;
    letter-spacing: -5px;
    user-select: none;
}

.timebx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date {
    color: white;
    letter-spacing: -0.5px;
    font-size: 24px;
    margin-top: -16px;
    user-select: none;
}

.tool {
    all: unset;
    width: 32px;
    height: 32px;
    border-radius: 800px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.toolbar {
    width: fit-content;
    height: fit-content;
    border-radius: 800px;
    padding: 2px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.music-window {
    width: 341px;
    height: 251px;
    background-color: white;
    border-radius: 20px;
    margin-top: 12px;
}
