@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
    --accent: rgba(255, 49, 49, 1);
}

body {
    margin: 0;
    background-color: black;
    background-image: url("/sky-clouds.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /*font*/
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;

    height: 100vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 40px;
    padding-bottom: 22px;
}

.time {
    color: white;
    font-size: 96px;
    font-weight: bold;
    letter-spacing: -5px;
    user-select: none;
}

.timebx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date {
    color: white;
    letter-spacing: -0.5px;
    font-size: 24px;
    margin-top: -16px;
    user-select: none;
}

.tool {
    all: unset;
    width: 32px;
    height: 32px;
    border-radius: 800px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.toolbar {
    width: fit-content;
    height: fit-content;
    border-radius: 800px;
    padding: 2px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.music-window {
    width: 341px;
    height: 251px;
    background-color: white;
    border-radius: 20px;
    margin-top: 12px;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.player {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.music-input {
    width: 100%;
    height: 39px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    overflow: hidden;
    gap: 5px;
}

.music-input > input {
    all: unset;
    font-size: 14px;
    width: 400px;
}

.pomo-time {
    font-weight: bold;
    font-size: 32px;
    color: white;
    letter-spacing: -2px;
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 19px 4px 19px;
    width: fit-content;
    height: fit-content;
    border-radius: 800px;
}

.bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-bottom: 22px;
}

.pomo-attachment {
    font-weight: 600;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 81px;
    height: 20px;
    background-color: var(--accent);
    border-radius: 800px 800px 0px 0px;
    color: white;
}

.pomo-timeBx {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pomo-button {
    all: unset;
    width: 51px;
    height: 51px;
    background-color: white;
    border-radius: 800px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pomodoro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-pomo {
    color: var(--accent);
}
